<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="orderok2.css">

<body>
    <table class="table1" border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
            <td class="table1-td" align="center">
                <table class="table2" align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                        <td align="center" valign="top" style="font-size:0; padding: 35px;" bgcolor="#3EA99F">
                            <div class="heading-div">
                                <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:300px;">
                                    <tr>
                                        <td align="left" valign="top" class="mobile-center">
                                            <h1 class="Website-name">Website</h1>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="mobile-hide">
                                <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:300px;">
                                    <tr>
                                        <td class="mobilehide-td1" align="right" valign="top">
                                            <table cellspacing="0" cellpadding="0" border="0" align="right">
                                                <tr>
                                                    <td class="mobilehide-td2">
                                                        <p class="mobilehide-p">
                                                            <a class="Shop" href="#" target="_blank">Shop &nbsp;
                                                            </a>
                                                        </p>
                                                    </td>
                                                    <td class="mobilehide-td3"> <a class="shopimg-a" href="#" target="_blank"><img class="shopimg" src="https://img.icons8.com/color/48/000000/small-business.png" width="27" height="23"/></a> </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                    <tr class="main">
                        <td class="main-td1" align="center">
                            <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:600px;">
                                <tr>
                                    <td class="main-td2" align="center"> <img src="https://cdn1.iconfinder.com/data/icons/ui-colored-3-of-3/100/UI_3_-20-128.png" width="125" height="120" style="display: block; border: 0px;" /><br>
                                        <h2 class="main-order"> Your Order has been successfully placed </h2>
                                    </td>
                                </tr>
                                <!-- <tr>
                                    <td align="left" style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 24px; padding-top: 10px;">
                                        <p style="font-size: 16px; font-weight: 400; line-height: 24px; color: #777777;"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium iste ipsa numquam odio dolores, nam. </p>
                                    </td>
                                </tr> -->
                                <tr>
                                    <td align="left" style="padding-top: 20px;">
                                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                            <tr>
                                                <td class="order-confirmation" width="75%" align="left" bgcolor="#eeeeee" > Order Confirmation </td>
                                                <td class="price-top" width="25%" align="left" bgcolor="#eeeeee"> Price </td>
                                            </tr>
                                            <tr>
                                                <td class="item" width="75%" align="left"> Rice </td>
                                                <td class="price" width="25%" align="left"> ₹50.00 </td>
                                            </tr>
                                            <tr>
                                                <td class="item" width="75%" align="left"> Sugar </td>
                                                <td class="price" width="25%" align="left"> ₹40.00 </td>
                                            </tr>
                                            <tr>
                                                <td class="item" width="75%" align="left"> Oil </td>
                                                <td class="price" width="25%" align="left"> ₹10.00 </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left" style="padding-top: 20px;">
                                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                            <tr>
                                                <td class="total" width="75%" align="left"> TOTAL </td>
                                                <td class="total-price" width="25%" align="left" ><span class="total-amount">₹ 100.00</span></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td class="pickup" align="center" height="100%" valign="top" width="100%">
                            <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:660px;">
                                <tr>
                                    <td align="center" valign="top" style="font-size:0;">
                                        <div class="pickup-address">
                                            <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:300px;">
                                                <tr>
                                                    <td class="pickup-address-p" align="left" valign="top">
                                                        <p style="font-weight: 800;">Order Pickup Address</p>
                                                        <p>675 qwerty<br>11th Floor<br>Chennai, ch - 02139</p>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="pickup-date">
                                            <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:300px;">
                                                <tr>
                                                    <td class="pickup-date-td" align="left" valign="top">
                                                        <p style="font-weight: 800;">Estimated Pickup Date</p>
                                                        <p>January 1st, 2021</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="pickup-date-td" align="left" valign="top">
                                                        <p style="font-weight: 800;">Last Date for Pickup</p>
                                                        <p>January 10th, 2021</p>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td class="footer" align="center">
                            <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:600px;">
                                <tr>
                                    <td class="footer-td" align="center">
                                        <h2 class="footer-h2"><span class="total-amount">₹ 100.00</span> has been successfully paid  </h2>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>